<!DOCTYPE html>
<html ng-app="angularModule">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./build/app.min.js"></script>
    <link rel="stylesheet" href="./build/styles.css" media="screen" title="no title">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
  </head>
  <body>
    <div class="paginated-list" ng-controller="assetsController">
      <table class="assets-table">
        <tr class="asset-row group" ng-repeat="asset in assetsPage">

          <td class="location-info group">
            <p class="lat-long small-text">{{asset.latitude}}, {{asset.longitude}}</p>
            <p>{{asset.location}}</p>
          </td>

          <td class="asset-type group">
            <p>{{asset.media}} {{asset.copy_size}}</p>
          </td>

          <td class="impression-cost group">
            <p class="price">{{asset.cpm | currency}}</p>
            <p class="small-text">Average Impressions</p>
          </td>

          <td>
            <button class="add-button">ADD</button>
          </td>
        </tr>
      </table>

      <div class="assets-list group">

        <div class="asset-row group" ng-repeat="asset in assetsPage">
          <button class="add-button">ADD</button>
          <div class="asset-details group">
            <div class="location-info group">
              <p class="lat-long small-text">{{asset.latitude}}, {{asset.longitude}}</p>
              <p>{{asset.location}}</p>
            </div>

            <div class="asset-type group">
              <p>{{asset.media}} {{asset.copy_size}}</p>
            </div>

            <div class="impression-cost group">
              <p class="price">{{asset.cpm | currency}}</p>
              <p class="small-text">Average Impressions</p>
            </div>
          </div>

        </div>

      </div>

      <div class="page-controls">
        <div class="button-set">
          <button class="page-arrow-left" ng-click="prevPage()">&#9664</button>
          <button class="page-arrow-right" ng-click="nextPage()">&#9654</button>

          <div class="page-buttons group">
            <button
              ng-repeat="button in buttonList track by $index"
              ng-click="changePage(button, $index)"
              class="numbered-button" ng-class="{selected-page : button === currentPage}">
                {{button}}
            </button>
          </div>

        </div>
      </div>
    </div>

  </body>
</html>
