body {
  background: #d9d9d9;

  .paginated-list {
    width: 50%;
    min-width: 40em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
  }
}

.assets-table {
  width: 100%;
  padding: 0.3em;
  padding-left: 1.3em;
  padding-right: 0.6em;
  border-spacing: 0 0.2em;

  tr {
    background: white;
    margin-bottom: 0.12em;
    border: 1em solid #d9d9d9;
  }

  td {
  }

  .add-button {
    height: 5.5em;
    width: 5.5em;
    float: right;
    color: white;
    background: linear-gradient(160deg, #5be4f1, #21afc7);
    text-align: center;
  }

}

.assets-list {

  .asset-row {
    background: white;
    height: 5em;
    box-sizing: border-box;
    padding: 0.3em;
    padding-left: 0.8em;
    padding-right: 0.6em;
    margin-bottom: 0.12em;

    .add-button {
      height: 100%;
      width: 5.5em;
      float: right;
      color: white;
      background: linear-gradient(160deg, #5be4f1, #21afc7);
      text-align: center;
    }

    .asset-details {
      color: #777777;
      padding: 0.6em;
      font-weight: 300;

      .small-text {
        font-size: 0.7em;
        padding-bottom: 0.5em;
      }

      .location-info, .asset-type, .impression-cost {
        height: 100%;
        display: inline-block;
      }

      .location-info {
        margin-right: 2em;
        float: left;
        font-weight: 700;

        .lat-long {
          font-weight: 100;
          padding-bottom: 0.5em;
        }
      }

      .asset-type {
        margin-right: 4em;
        float:left;
        line-height: 3.5em;
      }

      .impression-cost {
        float: right;
        margin-right: 1em;
        font-weight: normal;

        .price {
          font-size: 1.5em;
        }
      }
    }
  }
}
